# Jira
JIRA_BASE_URL=https://anaconda.atlassian.net
JIRA_API_TOKEN=your_token_here
JIRA_USER_EMAIL=your_email@anaconda.com
JIRA_CLOUD_ID=3f60a703-06c7-4861-85ce-efa25ba6bc03
JIRA_PROJECTS=SIR,PKG

# ReportPortal
REPORTPORTAL_BASE_URL=https://your-reportportal-instance.com
REPORTPORTAL_API_TOKEN=your_token_here
REPORTPORTAL_PROJECT=anaconda-qa

# GitHub
GITHUB_TOKEN=your_github_pat_here
GITHUB_ORG=anaconda
GITHUB_REPOS=sirius-qa-suite,package-build-platform

# App
BACKEND_PORT=8000
CACHE_TTL_SECONDS=300
